{% extends "base.html" %}
{% block title %}Live WMATA Bus Tracker{% endblock %}
{% block content %}
<!-- user input -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-left">
      <h3>Please enter a location name or address.</h3>
      <form id='input' method='post' action='index.html'>
        <p>Location: <input type='text' name='location' placeholder='Washington, DC' required/></p>
        <p>Search radius (m): <input type='text' name='radius' placeholder='1000' value='1000'/></p>
        <!-- <p>Specify route ID or leave blank for all: <input type='text' name='route' /></p> -->
        <p>Use cache? <input type='checkbox' name='cache' value='yes'/></p>
        <p><input type="submit" value="Submit"></p>
      </form>
    </div>
  </div>
</div>
{% endblock %}
